<style type="text/css">
	.notice_board
	{
		position: absolute;
		right: 0;
		width: 300px;
		border: 10px solid grey;
		padding: 5px;
		margin: 20px;
		height: 400px;
	}
</style>

<div class="notice_board">
	<marquee width="100%" direction="up" height="370px" scrollamount="3">
	<table class="table table-striped">
		<tr>
			<td>Poling Ended</td>
		</tr>
		<tr>
			<td>Poling Started</td>
		</tr>
		<tr>
			<td>Form submission ended</td>
		</tr>
		<tr>
			<td>Form submission started</td>
		</tr>
		<tr>
			<td>Election date declared</td>
		</tr>
	</table>
</marquee>
</div>