{% extends 'election_app/base.html' %}

{% block content %}


<h1>Chairman</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Votes</th>
    </tr>
  </thead>
  <tbody>
    {% for candidate in chairman_candidates %}
    <tr>
    	 <th scope="row">{{forloop.counter}}</th>
    	 <td>{{candidate.user.first_name}}  {{candidate.user.last_name}}</td>
    	 <td><img src="{{candidate.image.url}}" height="50" width="50"></td>
    	 <td>{{candidate.votes}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br><hr><br>
<h1>Secretary</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Votes</th>
    </tr>
  </thead>
  <tbody>
    {% for candidate in secretary_candidates %}
    <tr>
    	 <th scope="row">{{forloop.counter}}</th>
    	 <td>{{candidate.user.first_name}}  {{candidate.user.last_name}}</td>
    	 <td><img src="{{candidate.image.url}}" height="50" width="50"></td>
    	 <td>{{candidate.votes}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h1>Members</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
      <th scope="col">Votes</th>
    </tr>
  </thead>
  <tbody>
    {% for candidate in member_candidates %}
    <tr>
    	 <th scope="row">{{forloop.counter}}</th>
    	 <td>{{candidate.user.first_name}}  {{candidate.user.last_name}}</td>
    	 <td><img src="{{candidate.image.url}}" height="50" width="50"></td>
    	 <td>{{candidate.votes}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}

